@{
    Layout = null;
}
<br/>
<div class="form-group">
    @*@Html.LabelFor(model => model.password, new { @class = "col-md-2 control-label" })*@

    <div class="col-md-offset-2 col-md-10">
        @*@Html.PasswordFor(model => model.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@
        <div class="signin-text">
            <div class="text-left">
                <p><a href="javascript:return false;" data-toggle="modal" data-target="#myModal"> Forgot Password? </a></p>
            </div>
            <br/>
            <div class="text-left">
                <p><a href="javascript:return false;" data-toggle="modal" data-target="#myModal2"> Change Password</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#fcb216;color:#fff;">
                <button type="button" class="close" data-dismiss="modal" style="color:#000;">&times;</button>
                <h4 class="modal-title">Retrieve Password</h4>
            </div>

            <div class="modal-body">
                <form action="@Url.Action("ForgotPassword","Admin",new { PageId = 2 })" method="post">
                    <label for="Name" class="col-sm-2 control-label">Username: </label>
                    <input type="text" name="Name" id="Name" style="margin-top:0;" />
                    <input type="submit" class="register" value="Send" style="margin-top:10px;" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:#fff;">Close</button>
            </div>

        </div>

    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#fcb216;color:#fff;">
                <button type="button" class="close" data-dismiss="modal" style="color:#000;">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("ChangePassword","Admin",new { PageId = 2 })" method="post">
                    <label for="username" class="col-sm-12 control-label">Username: </label>
                    <input type="text" name="username" id="username" style="margin-top:0;margin-bottom:15px;" />

                    <label for="oldpassword" class="col-sm-12 control-label">Old Password: </label>
                    <input type="password" name="oldpassword" id="oldpassword" style="margin-top:0;margin-bottom:15px;" />

                    <label for="newpassword" class="col-sm-12 control-label">New Password: </label>
                    <input type="password" name="newpassword" id="newpassword" style="margin-top:0;margin-bottom:15px;" />

                    <label for="confirmnewpassword" class="col-sm-12 control-label">Confirm New Password: </label>
                    <input type="password" name="confirmnewpassword" id="confirmnewpassword" style="margin-top:0;" />

                    <input type="submit" class="register" value="Send" style="margin-top:10px;" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:#fff;">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="form-group">
    @*@Html.LabelFor(model => model.password, new { @class = "col-md-2 control-label" })*@
    <div class="col-md-offset-2 col-md-10">
        @*@Html.PasswordFor(model => model.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger"})*@
        <h5 style="font-weight:400">- Not a user? -</h5>
        <a href="@Url.Action("Login","Home")">Back To Home</a>
        <br/>
        <h5 style="font-weight:400">- Or visit -</h5>
    </div>
</div>

<div class="footer-icons col-md-offset-2 col-md-10">
    <ul style="list-style-image:none;display:inline;list-style:none;margin:0;padding:0;">
        <li style="display:inline;"><a href="#" class="twitter"><i class="fa fa-twitter" style="min-width:60px"></i></a></li>
        <li style="display:inline;"><a href="#" class="twitter facebook"><i class="fa fa-facebook" style="min-width:60px"></i></a></li>
        <li style="display:inline;"><a href="#" class="twitter chrome"><i class="fa fa-google-plus" style="min-width:60px"></i></a></li>
        <li style="display:inline;"><a href="#" class="twitter dribbble"><i class="fa fa-dribbble" style="min-width:60px" aria-hidden="true"></i></a></li>
    </ul>
</div>