@model EDMS.person

@{
    ViewBag.Title = "People Details";
}

<h2>The details of member on the platform</h2>

<div>
    <h4>Person's information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identifier)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.department.deptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.deptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "peopleEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "peopleList")
</p>